section {
  justify-content: flex-start;
}

.tablesHeader {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.mjTable {
  border-radius: var(--border-radius);
  position: relative;
  padding: 0;
  form {
    width: 100%;
    select {
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius-sm);
      background: var(--color-secondary-light);
      color: var(--color-text);
      font-family: var(--font-secondary);
      outline: none;
      width: 100%;
      padding: 0.5rem;
    }

    .mjHeader {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      background-color: var(--color-accent-1);
      padding: 0.4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      margin: 0;
      border-bottom: 1px solid var(--color-border);
      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
    .mjBody {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 130px;
      width: 100%;
      padding: 1rem;
      gap: 1rem;
      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input[type="datetime-local"] {
          border: 1px solid var(--color-border);
          border-radius: var(--border-radius);
          background: var(--color-secondary-light);
          color: var(--color-text);
          font-family: var(--font-secondary);
          outline: none;
          width: 100%;
          padding: 0.5rem;
        }
        .descriptionInput {
            border: 1px solid var(--color-border);
            border-radius: var(--border-radius-sm);
            background: var(--color-secondary-light);
            color: var(--color-text);
            font-family: var(--font-secondary);
            outline: none;
            width: 100%;
            padding: 0.5rem;
            min-height: 100px;
            resize: vertical; // Permet à l'utilisateur de redimensionner verticalement
        }
      }
    }
    .mjButtons {
      align-self: center;
      display: flex;
      width: 70%;
      gap: 0.5rem;
    }
  }
}
