.card {
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-secondary-light);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;

  
  label {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    color: var(--color-text-secondary);
  }
  input {
    border-radius: var(--border-radius-sm);
    padding-left: 1rem;
    font-size: var(--placeholder-text-size);
    color: var(--color-text-secondary);
    height: 30px;
  }
  input:focus {
    outline: 2px solid var(--color-accent-1);
  }
  input::placeholder {
    color: var(--placeholder-text-color);
    opacity: 1;
  }
  text-area {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    color: var(--color-text-secondary);
  }
  text-area:focus {
    outline: 2px solid var(--color-accent-1);
  }
  text-area::placeholder {
    color: var(--placeholder-text-color);
    opacity: 1;
  }
  button {
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    color: var(--color-text-secondary);
    width: 100%;
  }
  article {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
}

.cardForm {
  form {
    position: relative;
    width: 90%;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
    }

    a {
      font-size: var(--placeholder-text-size);
      color: var(--color-accent-1);
      font-family: var(--font-secondary);
    }

    .btn {
      position: absolute;
      background-color: var(--color-accent-1);
      border: 1px solid var(--color-accent-2);
      color: var(--color-secondary-light);
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius-sm);
      font-family: var(--label-text-font);
      font-size: var(--label-text-size);
      color: var(--color-secondary-light);
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
    }
    .btnLogin {
      bottom: -12%;
    }
    .btnRegister {
      bottom: -5%;
    }
    .btnForgottenPassword {
      bottom: -15%;
    }
  }
}

.cardGoogle {
  width: auto;
  h2 {
    color: var(--color-text-secondary);
  }
}

.cta {
  background-color: var(--color-accent-3);
  button {
    color: var(--color-secondary-light);
  }
}
.jdr {
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 0.2rem;

    p {
      font-family: var(--font-secondary);
      font-size: var(--font-size-md);
      color: var(--color-text-secondary);
      text-align: center;
    }
  }
}
.cardLanding {
  width: 100%;
}

.cardTable {
  display: flex;
  flex-direction: column; // Ajoute cette ligne
  padding-top: 120px;
  border-radius: var(--border-radius) ;
  
  .cardHeader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 0.4rem;
    padding-left: 2rem;
    border-bottom: 1px solid var(--color-border);
  }
  .cardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .description {
      align-self: flex-start;
    }
    .cardTableContent {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }
  }
}

.destructiveIcon {
  position: absolute;
  top: -60%;
}
.destructiveIconAuth {
  position: absolute;
  top: -40%;
}
.pouchIcon {
  position: absolute;
  bottom: -40%;
  right: -25%;
}

.cardInscriptionForm {
  gap: 1rem;
  padding: 0;
}

.invitationBox {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
  button {
    width: auto;
  }
}