nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-accent-primary);
  color: var(--color-text-light);
  width: 100%;
  height: 10dvh;
  font-family: var(--font-primary);
  z-index: 100;

  button {
    display: block;
  }

  .mobileNav {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 90%;
    right: 0%;
    padding: 1rem 3rem 1rem 1rem;
    font-size: var(--font-size-md);
    background-color: var(--color-accent-primary);
    z-index: 100;
    border-radius: var(--border-radius-sm);
  }
  .desktopNav {
    display: none;
    align-items: center;
    font-size: var(--font-size-xs);
  }
  .navDarkAndUser {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 768px) {
    button {
      display: none;
    }
    .desktopNav {
      display: flex;
      gap: 1rem;
    }
  }
}
